**/bin
**/obj
**/.vs
**/.vscode
**/.idea
*.user
*.suo
*.cache
TestResults
*.TestResults.xml
*.trx
*.coverage
*.coveragexml
.vs/
.vscode/
*.db
*.db-shm
*.db-wal
*.log
**/node_modules
**/.git
**/.gitignore
**/README.md
**/Dockerfile
**/.dockerignore

